:root {
    --tbx-background: #eee;
    --tbx-foreground: #111;

    --tbx-depth-background: #ddd;
    --tbx-depth-foreground: #222;
    
    --tbx-button-background: #555;
    --tbx-button-active-background: #333;
    --tbx-button-foreground: #ccc;

    --tbx-border-width: 1px;
    --tbx-border-color: #444;

    --tbx-font: sans-serif;

    --tbx-size-double: 4;
    --tbx-size-fullhalf: 3;
    --tbx-size-full: 2;
    --tbx-size-threequarters: 1.5;
    --tbx-size-half: 1;
    --tbx-size-quarter: .5;
    --tbx-size-halfquarter: .25;
}

.tbx-dark {
    --tbx-background: #111;
    --tbx-foreground: #eee;

    --tbx-depth-background: #222;
    --tbx-depth-foreground: #ddd;
    
    --tbx-button-background: #eee;
    --tbx-button-active-background: #ddd;
    --tbx-button-foreground: #222;
}

html, body {
    width: 100%;
    height: max-content;

    margin: 0;
    padding: 0;

    background: var(--tbx-background);
    color: var(--tbx-foreground);
    font-family: var(--tbx-font);

    scroll-behavior: smooth;
    transition-duration: 250ms;
}

a {
    color: inherit;
}

.tbx-nav {
    background: var(--tbx-depth-background);
    color: var(--tbx-depth-foreground);

    display: flex;
    padding: calc(var(--tbx-size-quarter) * 1rem);
    height: calc(var(--tbx-size-fullhalf) * 1rem);
    width: calc(100% - var(--tbx-size-quarter) * 1rem * 2);

    border-bottom: var(--tbx-border-width) solid var(--tbx-border-color);

    overflow: hidden;
}

.tbx-nav.tbx-nav.tbx-collapse-show {
    height: auto;
    display: block;
}

.tbx-nav-fixed {
    position: fixed;
    top: 0;
}

.tbx-nav-fixed-offset {
    padding-top: calc(var(--tbx-size-fullhalf) * 2rem);
}

.tbx-nav-brand {
    margin-left: calc(var(--tbx-size-quarter) * 1rem);
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
}

.tbx-nav-brand h1 {
    margin-left: calc(var(--tbx-size-quarter) * 1rem);
}

.tbx-nav-links {
    display: flex;
    align-items: center;
    margin-left: calc(var(--tbx-size-half) * 1rem);
}

.tbx-nav-links a {
    color: inherit;
    display: block;
    text-decoration: none;
    font-size: calc(var(--tbx-size-half) * 1rem);
    padding: calc(var(--tbx-size-quarter) * 1rem);
}

.tbx-nav-right {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.tbx-nav-collapser {
    display: none;
}

.tbx-btn {
    background: var(--tbx-button-background);
    color: var(--tbx-button-foreground);
    text-decoration: none;
    font-size: unset;
    border: var(--tbx-border-width) solid var(--tbx-border-color);
    border-radius: calc(var(--tbx-size-halfquarter) * 1rem);
    padding: calc(var(--tbx-size-quarter) * 1rem);
    cursor: pointer;
    transition-duration: 100ms;
    margin: calc(var(--tbx-size-halfquarter) * 1rem)
}
.tbx-btn:hover, .tbx-btn:active {
    background: var(--tbx-button-active-background);
}

.tbx-main {
    margin-left: calc(var(--tbx-size-quarter) * 1rem);
    margin-right: calc(var(--tbx-size-quarter) * 1rem);
}

.tbx-footer {
    display: flex;
    align-items: center;
    padding: calc(var(--tbx-size-half) * 1rem);
    background: var(--tbx-depth-background);
    color: var(--tbx-depth-foreground);

    border-top: var(--tbx-border-width) solid var(--tbx-border-color);
}

.tbx-card {
    max-width: max-content;
    padding: calc(var(--tbx-size-half) * 1rem);
    background: var(--tbx-depth-background);
    color: var(--tbx-depth-foreground);

    margin-bottom: calc(var(--tbx-size-half) * 1rem);
    
    border-radius: calc(var(--tbx-size-halfquarter) * 1rem);
    border: var(--tbx-border-width) solid var(--tbx-border-color);
}

.tbx-form input {
    width: calc(100% - var(--tbx-size-quarter) * 2rem);
    margin-bottom: calc(var(--tbx-size-half) * 1rem);

    padding: calc(var(--tbx-size-quarter) * 1rem);
    border-radius: calc(var(--tbx-size-halfquarter) * 1rem);
    border: var(--tbx-border-width) solid var(--tbx-border-color);
}

.tbx-table {
    padding: calc(var(--tbx-size-quarter) * 1rem);
    border-collapse: collapse;
}

.tbx-table tbody tr:nth-child(even) {
    background: var(--tbx-depth-background);
}

.tbx-table tbody tr td, .tbx-table tbody tr th {
    border: var(--tbx-border-width) solid var(--tbx-depth-background);
    text-align: left;
    padding: calc(var(--tbx-size-quarter) * 1rem);
    color: var(--tbx-depth-foreground);
}

.tbx-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.4);
}

.tbx-modal-content {
    background: var(--tbx-background);
    margin: 15% auto;
    padding: calc(var(--tbx-size-quarter) * 1rem);
    border: var(--tbx-border-width) solid var(--tbx-border-color);
    width: 80%;
}

.tbx-close-btn {
    color: var(--tbx-button-background);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.tbx-close-btn:hover,
.tbx-close-btn:focus {
  color: var(--tbx-button-active-background-background);
  text-decoration: none;
  cursor: pointer;
}

.tbx-modal-header {
    padding: calc(var(--tbx-size-halfquarter) * 1rem) calc(var(--tbx-size-quarter) * 1rem);
    background: var(--tbx-depth-background);
    color: var(--tbx-depth-foreground);
    border-bottom: var(--tbx-border-width) solid var(--tbx-border-color);
}

.tbx-modal-body {padding: calc(var(--tbx-size-halfquarter) * 1rem) calc(var(--tbx-size-quarter) * 1rem);}

.tbx-modal-footer {
    padding: calc(var(--tbx-size-halfquarter) * 1rem) calc(var(--tbx-size-quarter) * 1rem);
    background: var(--tbx-depth-background);
    color: var(--tbx-depth-foreground);
    border-top: var(--tbx-border-width) solid var(--tbx-border-color);
}

.tbx-modal-content {
    padding: 0;
    animation-name: tbxanimatetop;
    animation-duration: 0.4s
}

@keyframes tbxanimatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.tbx-full-width {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .tbx-nav .tbx-nav-links {
        display: none;
    }
    .tbx-nav .tbx-nav-right {
        display: none;
    }
    .tbx-nav .tbx-nav-collapser {
        float: right;
        display: block;
    }

    .tbx-nav.tbx-collapse-show .tbx-nav-links {
        display: block;
        flex-direction: column;
    }
    .tbx-nav.tbx-collapse-show .tbx-nav-right {
        display: block;
        flex-direction: column;
    }
}